@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Students List</h2>

<div>
    <table>
        <tr>
            <th>User name</th>
            <th style="padding-left: 20px;">First name</th>
            <th style="padding-left: 20px;">Last name</th>
            <th style="padding-left: 20px;">Faculty name</th>
            <th style="padding-left: 20px;">Faculty city</th>
            <th style="padding-left: 20px;">Faculty address</th>
            <th style="padding-left: 20px;">Nationality</th>
            <th style="padding-left: 20px;">Bitrhdate</th>
        </tr>
        @foreach (var item in ViewBag.Users)
        {
        <tr>
            <td>
                @item.UserName
            </td>
            <td style="padding-left: 20px;">
                @item.FirstName
            </td>
            <td style="padding-left: 20px;">
                @item.LastName
            </td>
            <td style="padding-left: 20px;">
                @item.Faculty.Name
            </td>
            <td style="padding-left: 20px;">
                @item.Faculty.City
            </td>
            <td style="padding-left: 20px;">
                @item.Faculty.Adress
            </td>
            <td style="padding-left: 20px;">
                @item.Nationality.Name
            </td>
            <td style="padding-left: 20px;">
                @item.BirthDate.ToString("dd.MM.yy")
            </td>
        </tr>
        }

    </table>
</div>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {

            GetAllUsers();
        });


        function GetAllUsers() {
            var tokenKey = "tokenInfo";

            $.ajax({
                url: '/api/Account/GetUsers',
                type: 'GET',
                dataType: 'json',
                beforeSend: function (xhr) {
                    var token = window.localStorage.getItem(tokenKey);
                    xhr.setRequestHeader("Authorization", "Bearer " + token);
                },
                success: function () {
                    console.log("Users received");
                },
                error: function () {
                    console.log("Users not received");
                }
            });
        }
    </script>
}
